.reviewBody {
    text-align: center;
}

.review-form {
    display: inline-block;
    width: 200px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 10px solid green;
    padding-bottom: 10px;
}

.reviewButtons {
    padding-top: 10px;
}

.reviewBox {
    resize: none;
    height: 150px;
}

.rating-select > option {
    background: grey;
}
