.court-img {
    display: inline-block;
    height: 275px;
    width: 300px;
    border-radius: 10px;
}

.courts-page {
    display: grid;
    height: 550px;
    width: 350px;
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border-radius: 30px;
    color: green;
}

.courts {
    display: inline-block;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 600px;
}

.courtName {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: green;
}

.courts-title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: green;
}
