.editBody {
    text-align:center;
    color: green;
}

.court-form {
    display: inline-block;
    width: 200px;
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 10px solid green;
    padding-bottom: 10px;
}

.editTitle {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: green;
}

.description {
    resize: none;
    height: 150px;
}

.editButtons {
    padding: 4px;
}

.errorsList {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: red;
}
