
button {
  background-color: #c0ffff;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  text-align: center;
}

button:hover {
  background-color: rgb(248, 200, 200);
}

body {
  background-color: rgb(212, 222, 212);
}

input {
  border-radius: 10px;
}
